Repository asharkov-briklabs/refunds-wyx7mz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @refund-core-team, @payments-team, @workflow-team, @compliance-team, @security-team, @integrations-team, @configuration-team, @notifications-team, @data-team, @analytics-team, @frontend-team, @devops-team, @architecture-team, @quality-team

.github/CODEOWNERS:

# Automatically assigns reviewers to pull requests based on files being changed
# Format: file-pattern @user-or-team

# Default ownership for all files in the repository
* @platform-team

# Core Services
# =============

# Core Refund Request Manager service ownership
src/backend/services/refund-request-manager/** @refund-core-team @payments-team

# Payment Method Handler service ownership
src/backend/services/payment-method-handler/** @payments-team

# Approval Workflow Engine service ownership
src/backend/services/approval-workflow-engine/** @workflow-team @refund-core-team

# Compliance Engine service ownership
src/backend/services/compliance-engine/** @compliance-team @security-team

# Gateway Integration service ownership
src/backend/services/gateway-integration/** @payments-team @integrations-team

# Parameter Resolution service ownership
src/backend/services/parameter-resolution/** @configuration-team @refund-core-team

# Bank Account Manager service ownership - requires security team review due to sensitive data
src/backend/services/bank-account-manager/** @payments-team @security-team

# Notification Service ownership
src/backend/services/notification-service/** @notifications-team

# Reporting & Analytics Engine ownership
src/backend/services/reporting-analytics/** @data-team @analytics-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure & Configuration
# =============================

# Infrastructure code ownership
infrastructure/** @devops-team @security-team

# GitHub configuration ownership
.github/** @devops-team @platform-team

# Configuration files ownership
src/backend/config/** @platform-team @security-team

# Common & Shared Components
# =========================

# Common utilities and shared code ownership
src/backend/common/** @platform-team @architecture-team

# External service integrations ownership
src/backend/integrations/** @integrations-team

# Database models and repositories ownership
src/backend/database/** @data-team @refund-core-team

# Testing & Security
# =================

# Test files ownership
**.test.ts @quality-team

# Security-related code ownership
src/backend/**/security/** @security-team

Add public-samples/refunds-wyx7mz/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/dependabot.yml
  .github/dependabot.yml
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/workflows/build-and-test.yml
  .github/workflows/build-and-test.yml
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/workflows/deploy-dev.yml
  .github/workflows/deploy-dev.yml
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/workflows/deploy-prod.yml
  .github/workflows/deploy-prod.yml
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/workflows/deploy-staging.yml
  .github/workflows/deploy-staging.yml
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/workflows/lint.yml
  .github/workflows/lint.yml
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/.github/workflows/security-scan.yml
  .github/workflows/security-scan.yml
Owners: @devops-team, @platform-team

Add public-samples/refunds-wyx7mz/blitzy/documentation/Input Prompt.md
  blitzy/documentation/Input Prompt.md
Owners: @platform-team

Add public-samples/refunds-wyx7mz/blitzy/documentation/Project Guide.md
  blitzy/documentation/Project Guide.md
Owners: @platform-team

Add public-samples/refunds-wyx7mz/blitzy/documentation/Technical Specifications.md
  blitzy/documentation/Technical Specifications.md
Owners: @platform-team

Add public-samples/refunds-wyx7mz/infrastructure/README.md
  infrastructure/README.md
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/cloudformation/README.md
  infrastructure/cloudformation/README.md
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/cloudformation/auto-scaling.yml
  infrastructure/cloudformation/auto-scaling.yml
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/cloudformation/ecs-task-definitions.yml
  infrastructure/cloudformation/ecs-task-definitions.yml
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/monitoring/README.md
  infrastructure/monitoring/README.md
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/monitoring/cloudwatch/alarms/refund-service-alarms.json
  infrastructure/monitoring/cloudwatch/alarms/refund-service-alarms.json
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/monitoring/cloudwatch/dashboards/refund-service-dashboard.json
  infrastructure/monitoring/cloudwatch/dashboards/refund-service-dashboard.json
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/monitoring/datadog/dashboards/refund-performance-dashboard.json
  infrastructure/monitoring/datadog/dashboards/refund-performance-dashboard.json
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/monitoring/datadog/monitors/refund-service-monitors.json
  infrastructure/monitoring/datadog/monitors/refund-service-monitors.json
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/scripts/README.md
  infrastructure/scripts/README.md
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/scripts/monitoring-setup.sh
  infrastructure/scripts/monitoring-setup.sh
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/scripts/restore.sh
  infrastructure/scripts/restore.sh
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/README.md
  infrastructure/terraform/README.md
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/dev/main.tf
  infrastructure/terraform/environments/dev/main.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/dev/terraform.tfvars
  infrastructure/terraform/environments/dev/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/dev/variables.tf
  infrastructure/terraform/environments/dev/variables.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/prod/main.tf
  infrastructure/terraform/environments/prod/main.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/prod/terraform.tfvars
  infrastructure/terraform/environments/prod/terraform.tfvars
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/prod/variables.tf
  infrastructure/terraform/environments/prod/variables.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team, @security-team

Add public-samples/refunds-wyx7mz/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team, @security-team
