Repository asharkov-briklabs/refunds-wyx7mz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @refund-core-team, @payments-team, @workflow-team, @compliance-team, @security-team, @integrations-team, @configuration-team, @notifications-team, @data-team, @analytics-team, @frontend-team, @devops-team, @architecture-team, @quality-team

.github/CODEOWNERS:

# Automatically assigns reviewers to pull requests based on files being changed
# Format: file-pattern @user-or-team

# Default ownership for all files in the repository
* @platform-team

# Core Services
# =============

# Core Refund Request Manager service ownership
src/backend/services/refund-request-manager/** @refund-core-team @payments-team

# Payment Method Handler service ownership
src/backend/services/payment-method-handler/** @payments-team

# Approval Workflow Engine service ownership
src/backend/services/approval-workflow-engine/** @workflow-team @refund-core-team

# Compliance Engine service ownership
src/backend/services/compliance-engine/** @compliance-team @security-team

# Gateway Integration service ownership
src/backend/services/gateway-integration/** @payments-team @integrations-team

# Parameter Resolution service ownership
src/backend/services/parameter-resolution/** @configuration-team @refund-core-team

# Bank Account Manager service ownership - requires security team review due to sensitive data
src/backend/services/bank-account-manager/** @payments-team @security-team

# Notification Service ownership
src/backend/services/notification-service/** @notifications-team

# Reporting & Analytics Engine ownership
src/backend/services/reporting-analytics/** @data-team @analytics-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure & Configuration
# =============================

# Infrastructure code ownership
infrastructure/** @devops-team @security-team

# GitHub configuration ownership
.github/** @devops-team @platform-team

# Configuration files ownership
src/backend/config/** @platform-team @security-team

# Common & Shared Components
# =========================

# Common utilities and shared code ownership
src/backend/common/** @platform-team @architecture-team

# External service integrations ownership
src/backend/integrations/** @integrations-team

# Database models and repositories ownership
src/backend/database/** @data-team @refund-core-team

# Testing & Security
# =================

# Test files ownership
**.test.ts @quality-team

# Security-related code ownership
src/backend/**/security/** @security-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/utils/currency-utils.test.ts
  src/backend/tests/unit/utils/currency-utils.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/utils/date-utils.test.ts
  src/backend/tests/unit/utils/date-utils.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/utils/encryption-utils.test.ts
  src/backend/tests/unit/utils/encryption-utils.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/validators/bank-account.validator.test.ts
  src/backend/tests/unit/validators/bank-account.validator.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/validators/parameter.validator.test.ts
  src/backend/tests/unit/validators/parameter.validator.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/validators/refund.validator.test.ts
  src/backend/tests/unit/validators/refund.validator.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/workers/index.ts
  src/backend/workers/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/processor.ts
  src/backend/workers/processor.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/queue-manager.ts
  src/backend/workers/queue-manager.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/handlers/approval.handler.ts
  src/backend/workers/handlers/approval.handler.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/handlers/gateway-check.handler.ts
  src/backend/workers/handlers/gateway-check.handler.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/handlers/index.ts
  src/backend/workers/handlers/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/handlers/notification.handler.ts
  src/backend/workers/handlers/notification.handler.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/handlers/refund-processor.handler.ts
  src/backend/workers/handlers/refund-processor.handler.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/jobs/check-gateway-status.job.ts
  src/backend/workers/jobs/check-gateway-status.job.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/jobs/handle-approvals.job.ts
  src/backend/workers/jobs/handle-approvals.job.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/jobs/index.ts
  src/backend/workers/jobs/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/jobs/process-refunds.job.ts
  src/backend/workers/jobs/process-refunds.job.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/workers/jobs/send-notifications.job.ts
  src/backend/workers/jobs/send-notifications.job.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/.eslintrc.js
  src/web/.eslintrc.js
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/Dockerfile
  src/web/Dockerfile
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/babel.config.js
  src/web/babel.config.js
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/craco.config.js
  src/web/craco.config.js
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/jest.config.js
  src/web/jest.config.js
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/nginx.conf
  src/web/nginx.conf
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/package.json
  src/web/package.json
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/postcss.config.js
  src/web/postcss.config.js
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/tailwind.config.js
  src/web/tailwind.config.js
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/public/manifest.json
  src/web/public/manifest.json
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/public/robots.txt
  src/web/public/robots.txt
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/src/index.tsx
  src/web/src/index.tsx
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/src/react-app-env.d.ts
  src/web/src/react-app-env.d.ts
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/src/setupTests.ts
  src/web/src/setupTests.ts
Owners: @frontend-team

Add public-samples/refunds-wyx7mz/src/web/src/assets/icons/action-icons.tsx
  src/web/src/assets/icons/action-icons.tsx
Owners: @frontend-team
