Repository asharkov-briklabs/refunds-wyx7mz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @refund-core-team, @payments-team, @workflow-team, @compliance-team, @security-team, @integrations-team, @configuration-team, @notifications-team, @data-team, @analytics-team, @frontend-team, @devops-team, @architecture-team, @quality-team

.github/CODEOWNERS:

# Automatically assigns reviewers to pull requests based on files being changed
# Format: file-pattern @user-or-team

# Default ownership for all files in the repository
* @platform-team

# Core Services
# =============

# Core Refund Request Manager service ownership
src/backend/services/refund-request-manager/** @refund-core-team @payments-team

# Payment Method Handler service ownership
src/backend/services/payment-method-handler/** @payments-team

# Approval Workflow Engine service ownership
src/backend/services/approval-workflow-engine/** @workflow-team @refund-core-team

# Compliance Engine service ownership
src/backend/services/compliance-engine/** @compliance-team @security-team

# Gateway Integration service ownership
src/backend/services/gateway-integration/** @payments-team @integrations-team

# Parameter Resolution service ownership
src/backend/services/parameter-resolution/** @configuration-team @refund-core-team

# Bank Account Manager service ownership - requires security team review due to sensitive data
src/backend/services/bank-account-manager/** @payments-team @security-team

# Notification Service ownership
src/backend/services/notification-service/** @notifications-team

# Reporting & Analytics Engine ownership
src/backend/services/reporting-analytics/** @data-team @analytics-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure & Configuration
# =============================

# Infrastructure code ownership
infrastructure/** @devops-team @security-team

# GitHub configuration ownership
.github/** @devops-team @platform-team

# Configuration files ownership
src/backend/config/** @platform-team @security-team

# Common & Shared Components
# =========================

# Common utilities and shared code ownership
src/backend/common/** @platform-team @architecture-team

# External service integrations ownership
src/backend/integrations/** @integrations-team

# Database models and repositories ownership
src/backend/database/** @data-team @refund-core-team

# Testing & Security
# =================

# Test files ownership
**.test.ts @quality-team

# Security-related code ownership
src/backend/**/security/** @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/validators/amount.validator.ts
  src/backend/services/refund-request-manager/validators/amount.validator.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/validators/index.ts
  src/backend/services/refund-request-manager/validators/index.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/validators/method.validator.ts
  src/backend/services/refund-request-manager/validators/method.validator.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/validators/timeframe.validator.ts
  src/backend/services/refund-request-manager/validators/timeframe.validator.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/index.ts
  src/backend/services/reporting-analytics/index.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/metrics-calculator.ts
  src/backend/services/reporting-analytics/metrics-calculator.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/report-executor.ts
  src/backend/services/reporting-analytics/report-executor.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/report-scheduler.ts
  src/backend/services/reporting-analytics/report-scheduler.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/reporting-engine.service.ts
  src/backend/services/reporting-analytics/reporting-engine.service.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/data-sources/index.ts
  src/backend/services/reporting-analytics/data-sources/index.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/data-sources/mongodb.connector.ts
  src/backend/services/reporting-analytics/data-sources/mongodb.connector.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/data-sources/timeseries.connector.ts
  src/backend/services/reporting-analytics/data-sources/timeseries.connector.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/exporters/csv.exporter.ts
  src/backend/services/reporting-analytics/exporters/csv.exporter.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/exporters/excel.exporter.ts
  src/backend/services/reporting-analytics/exporters/excel.exporter.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/exporters/index.ts
  src/backend/services/reporting-analytics/exporters/index.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/exporters/pdf.exporter.ts
  src/backend/services/reporting-analytics/exporters/pdf.exporter.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/models/index.ts
  src/backend/services/reporting-analytics/models/index.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/models/report-definition.model.ts
  src/backend/services/reporting-analytics/models/report-definition.model.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/services/reporting-analytics/models/scheduled-report.model.ts
  src/backend/services/reporting-analytics/models/scheduled-report.model.ts
Owners: @data-team, @analytics-team

Add public-samples/refunds-wyx7mz/src/backend/tests/setup.ts
  src/backend/tests/setup.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/teardown.ts
  src/backend/tests/teardown.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/fixtures/bank-accounts.fixture.ts
  src/backend/tests/fixtures/bank-accounts.fixture.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/fixtures/index.ts
  src/backend/tests/fixtures/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/fixtures/parameters.fixture.ts
  src/backend/tests/fixtures/parameters.fixture.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/fixtures/refunds.fixture.ts
  src/backend/tests/fixtures/refunds.fixture.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/integration/approval-workflow.test.ts
  src/backend/tests/integration/approval-workflow.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/integration/gateway-integration.test.ts
  src/backend/tests/integration/gateway-integration.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/integration/refund-api.test.ts
  src/backend/tests/integration/refund-api.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/integration/refund-workflow.test.ts
  src/backend/tests/integration/refund-workflow.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/mocks/index.ts
  src/backend/tests/mocks/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/mocks/gateways/adyen.mock.ts
  src/backend/tests/mocks/gateways/adyen.mock.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/mocks/gateways/fiserv.mock.ts
  src/backend/tests/mocks/gateways/fiserv.mock.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/mocks/gateways/stripe.mock.ts
  src/backend/tests/mocks/gateways/stripe.mock.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/mocks/services/balance-service.mock.ts
  src/backend/tests/mocks/services/balance-service.mock.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/mocks/services/merchant-service.mock.ts
  src/backend/tests/mocks/services/merchant-service.mock.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/mocks/services/payment-service.mock.ts
  src/backend/tests/mocks/services/payment-service.mock.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/services/compliance-engine.test.ts
  src/backend/tests/unit/services/compliance-engine.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/services/parameter-resolution.test.ts
  src/backend/tests/unit/services/parameter-resolution.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/services/payment-method-handler.test.ts
  src/backend/tests/unit/services/payment-method-handler.test.ts
Owners: @quality-team

Add public-samples/refunds-wyx7mz/src/backend/tests/unit/services/refund-request-manager.test.ts
  src/backend/tests/unit/services/refund-request-manager.test.ts
Owners: @quality-team
