Repository asharkov-briklabs/refunds-wyx7mz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @refund-core-team, @payments-team, @workflow-team, @compliance-team, @security-team, @integrations-team, @configuration-team, @notifications-team, @data-team, @analytics-team, @frontend-team, @devops-team, @architecture-team, @quality-team

.github/CODEOWNERS:

# Automatically assigns reviewers to pull requests based on files being changed
# Format: file-pattern @user-or-team

# Default ownership for all files in the repository
* @platform-team

# Core Services
# =============

# Core Refund Request Manager service ownership
src/backend/services/refund-request-manager/** @refund-core-team @payments-team

# Payment Method Handler service ownership
src/backend/services/payment-method-handler/** @payments-team

# Approval Workflow Engine service ownership
src/backend/services/approval-workflow-engine/** @workflow-team @refund-core-team

# Compliance Engine service ownership
src/backend/services/compliance-engine/** @compliance-team @security-team

# Gateway Integration service ownership
src/backend/services/gateway-integration/** @payments-team @integrations-team

# Parameter Resolution service ownership
src/backend/services/parameter-resolution/** @configuration-team @refund-core-team

# Bank Account Manager service ownership - requires security team review due to sensitive data
src/backend/services/bank-account-manager/** @payments-team @security-team

# Notification Service ownership
src/backend/services/notification-service/** @notifications-team

# Reporting & Analytics Engine ownership
src/backend/services/reporting-analytics/** @data-team @analytics-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure & Configuration
# =============================

# Infrastructure code ownership
infrastructure/** @devops-team @security-team

# GitHub configuration ownership
.github/** @devops-team @platform-team

# Configuration files ownership
src/backend/config/** @platform-team @security-team

# Common & Shared Components
# =========================

# Common utilities and shared code ownership
src/backend/common/** @platform-team @architecture-team

# External service integrations ownership
src/backend/integrations/** @integrations-team

# Database models and repositories ownership
src/backend/database/** @data-team @refund-core-team

# Testing & Security
# =================

# Test files ownership
**.test.ts @quality-team

# Security-related code ownership
src/backend/**/security/** @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/models/parameter-value.model.ts
  src/backend/services/parameter-resolution/models/parameter-value.model.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/validators/index.ts
  src/backend/services/parameter-resolution/validators/index.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/validators/rule.validator.ts
  src/backend/services/parameter-resolution/validators/rule.validator.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/validators/type.validator.ts
  src/backend/services/parameter-resolution/validators/type.validator.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/index.ts
  src/backend/services/payment-method-handler/index.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/payment-method-handler.service.ts
  src/backend/services/payment-method-handler/payment-method-handler.service.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/registry.ts
  src/backend/services/payment-method-handler/registry.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/handlers/ach-handler.ts
  src/backend/services/payment-method-handler/handlers/ach-handler.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/handlers/balance-handler.ts
  src/backend/services/payment-method-handler/handlers/balance-handler.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/handlers/credit-card-handler.ts
  src/backend/services/payment-method-handler/handlers/credit-card-handler.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/handlers/debit-card-handler.ts
  src/backend/services/payment-method-handler/handlers/debit-card-handler.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/handlers/index.ts
  src/backend/services/payment-method-handler/handlers/index.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/handlers/other-handler.ts
  src/backend/services/payment-method-handler/handlers/other-handler.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/handlers/wallet-handler.ts
  src/backend/services/payment-method-handler/handlers/wallet-handler.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/validators/bank-account.validator.ts
  src/backend/services/payment-method-handler/validators/bank-account.validator.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/validators/credit-card.validator.ts
  src/backend/services/payment-method-handler/validators/credit-card.validator.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/validators/debit-card.validator.ts
  src/backend/services/payment-method-handler/validators/debit-card.validator.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/payment-method-handler/validators/index.ts
  src/backend/services/payment-method-handler/validators/index.ts
Owners: @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/index.ts
  src/backend/services/refund-api/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/routes.ts
  src/backend/services/refund-api/routes.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/controllers/bank-account.controller.ts
  src/backend/services/refund-api/controllers/bank-account.controller.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/controllers/index.ts
  src/backend/services/refund-api/controllers/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/controllers/parameter.controller.ts
  src/backend/services/refund-api/controllers/parameter.controller.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/controllers/refund.controller.ts
  src/backend/services/refund-api/controllers/refund.controller.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/controllers/reporting.controller.ts
  src/backend/services/refund-api/controllers/reporting.controller.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/docs/index.ts
  src/backend/services/refund-api/docs/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/docs/swagger.yaml
  src/backend/services/refund-api/docs/swagger.yaml
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/middleware/cache.ts
  src/backend/services/refund-api/middleware/cache.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/middleware/index.ts
  src/backend/services/refund-api/middleware/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/middleware/rate-limiter.ts
  src/backend/services/refund-api/middleware/rate-limiter.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/validators/bank-account.validator.ts
  src/backend/services/refund-api/validators/bank-account.validator.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/validators/index.ts
  src/backend/services/refund-api/validators/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/validators/parameter.validator.ts
  src/backend/services/refund-api/validators/parameter.validator.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-api/validators/refund.validator.ts
  src/backend/services/refund-api/validators/refund.validator.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/index.ts
  src/backend/services/refund-request-manager/index.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/refund-request-manager.service.ts
  src/backend/services/refund-request-manager/refund-request-manager.service.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/state-machine.ts
  src/backend/services/refund-request-manager/state-machine.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/events/index.ts
  src/backend/services/refund-request-manager/events/index.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/events/refund-created.handler.ts
  src/backend/services/refund-request-manager/events/refund-created.handler.ts
Owners: @refund-core-team, @payments-team

Add public-samples/refunds-wyx7mz/src/backend/services/refund-request-manager/events/refund-status-changed.handler.ts
  src/backend/services/refund-request-manager/events/refund-status-changed.handler.ts
Owners: @refund-core-team, @payments-team
