Repository asharkov-briklabs/refunds-wyx7mz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @refund-core-team, @payments-team, @workflow-team, @compliance-team, @security-team, @integrations-team, @configuration-team, @notifications-team, @data-team, @analytics-team, @frontend-team, @devops-team, @architecture-team, @quality-team

.github/CODEOWNERS:

# Automatically assigns reviewers to pull requests based on files being changed
# Format: file-pattern @user-or-team

# Default ownership for all files in the repository
* @platform-team

# Core Services
# =============

# Core Refund Request Manager service ownership
src/backend/services/refund-request-manager/** @refund-core-team @payments-team

# Payment Method Handler service ownership
src/backend/services/payment-method-handler/** @payments-team

# Approval Workflow Engine service ownership
src/backend/services/approval-workflow-engine/** @workflow-team @refund-core-team

# Compliance Engine service ownership
src/backend/services/compliance-engine/** @compliance-team @security-team

# Gateway Integration service ownership
src/backend/services/gateway-integration/** @payments-team @integrations-team

# Parameter Resolution service ownership
src/backend/services/parameter-resolution/** @configuration-team @refund-core-team

# Bank Account Manager service ownership - requires security team review due to sensitive data
src/backend/services/bank-account-manager/** @payments-team @security-team

# Notification Service ownership
src/backend/services/notification-service/** @notifications-team

# Reporting & Analytics Engine ownership
src/backend/services/reporting-analytics/** @data-team @analytics-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure & Configuration
# =============================

# Infrastructure code ownership
infrastructure/** @devops-team @security-team

# GitHub configuration ownership
.github/** @devops-team @platform-team

# Configuration files ownership
src/backend/config/** @platform-team @security-team

# Common & Shared Components
# =========================

# Common utilities and shared code ownership
src/backend/common/** @platform-team @architecture-team

# External service integrations ownership
src/backend/integrations/** @integrations-team

# Database models and repositories ownership
src/backend/database/** @data-team @refund-core-team

# Testing & Security
# =================

# Test files ownership
**.test.ts @quality-team

# Security-related code ownership
src/backend/**/security/** @security-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/auth-service/types.ts
  src/backend/integrations/auth-service/types.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/aws/index.ts
  src/backend/integrations/aws/index.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/aws/kms.ts
  src/backend/integrations/aws/kms.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/aws/s3.ts
  src/backend/integrations/aws/s3.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/aws/secrets-manager.ts
  src/backend/integrations/aws/secrets-manager.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/aws/sqs.ts
  src/backend/integrations/aws/sqs.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/balance-service/client.ts
  src/backend/integrations/balance-service/client.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/balance-service/index.ts
  src/backend/integrations/balance-service/index.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/balance-service/types.ts
  src/backend/integrations/balance-service/types.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/merchant-service/client.ts
  src/backend/integrations/merchant-service/client.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/merchant-service/index.ts
  src/backend/integrations/merchant-service/index.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/merchant-service/types.ts
  src/backend/integrations/merchant-service/types.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/payment-service/client.ts
  src/backend/integrations/payment-service/client.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/payment-service/index.ts
  src/backend/integrations/payment-service/index.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/payment-service/types.ts
  src/backend/integrations/payment-service/types.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/program-service/client.ts
  src/backend/integrations/program-service/client.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/program-service/index.ts
  src/backend/integrations/program-service/index.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/program-service/types.ts
  src/backend/integrations/program-service/types.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/index.ts
  src/backend/services/index.ts
Owners: @platform-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/approval-workflow.service.ts
  src/backend/services/approval-workflow-engine/approval-workflow.service.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/escalation-manager.ts
  src/backend/services/approval-workflow-engine/escalation-manager.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/index.ts
  src/backend/services/approval-workflow-engine/index.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/rule-engine.ts
  src/backend/services/approval-workflow-engine/rule-engine.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/handlers/approval-decision.handler.ts
  src/backend/services/approval-workflow-engine/handlers/approval-decision.handler.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/handlers/approval-request.handler.ts
  src/backend/services/approval-workflow-engine/handlers/approval-request.handler.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/handlers/escalation.handler.ts
  src/backend/services/approval-workflow-engine/handlers/escalation.handler.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/handlers/index.ts
  src/backend/services/approval-workflow-engine/handlers/index.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/models/approval-rule.model.ts
  src/backend/services/approval-workflow-engine/models/approval-rule.model.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/models/approval-workflow.model.ts
  src/backend/services/approval-workflow-engine/models/approval-workflow.model.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/approval-workflow-engine/models/index.ts
  src/backend/services/approval-workflow-engine/models/index.ts
Owners: @workflow-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/bank-account-manager/bank-account-manager.service.ts
  src/backend/services/bank-account-manager/bank-account-manager.service.ts
Owners: @payments-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/bank-account-manager/encryption.ts
  src/backend/services/bank-account-manager/encryption.ts
Owners: @payments-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/bank-account-manager/index.ts
  src/backend/services/bank-account-manager/index.ts
Owners: @payments-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/bank-account-manager/verifier.ts
  src/backend/services/bank-account-manager/verifier.ts
Owners: @payments-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/bank-account-manager/validators/account-number.validator.ts
  src/backend/services/bank-account-manager/validators/account-number.validator.ts
Owners: @payments-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/bank-account-manager/validators/index.ts
  src/backend/services/bank-account-manager/validators/index.ts
Owners: @payments-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/bank-account-manager/validators/routing-number.validator.ts
  src/backend/services/bank-account-manager/validators/routing-number.validator.ts
Owners: @payments-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/compliance-engine.service.ts
  src/backend/services/compliance-engine/compliance-engine.service.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/index.ts
  src/backend/services/compliance-engine/index.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/rule-evaluator.ts
  src/backend/services/compliance-engine/rule-evaluator.ts
Owners: @compliance-team, @security-team
