Repository asharkov-briklabs/refunds-wyx7mz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @refund-core-team, @payments-team, @workflow-team, @compliance-team, @security-team, @integrations-team, @configuration-team, @notifications-team, @data-team, @analytics-team, @frontend-team, @devops-team, @architecture-team, @quality-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/rule-providers/card-network.provider.ts
  src/backend/services/compliance-engine/rule-providers/card-network.provider.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/rule-providers/index.ts
  src/backend/services/compliance-engine/rule-providers/index.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/rule-providers/merchant.provider.ts
  src/backend/services/compliance-engine/rule-providers/merchant.provider.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/rule-providers/regulatory.provider.ts
  src/backend/services/compliance-engine/rule-providers/regulatory.provider.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/validators/amount.validator.ts
  src/backend/services/compliance-engine/validators/amount.validator.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/validators/index.ts
  src/backend/services/compliance-engine/validators/index.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/validators/method.validator.ts
  src/backend/services/compliance-engine/validators/method.validator.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/compliance-engine/validators/timeframe.validator.ts
  src/backend/services/compliance-engine/validators/timeframe.validator.ts
Owners: @compliance-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/circuit-breaker.ts
  src/backend/services/gateway-integration/circuit-breaker.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/credential-manager.ts
  src/backend/services/gateway-integration/credential-manager.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/gateway-integration.service.ts
  src/backend/services/gateway-integration/gateway-integration.service.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/index.ts
  src/backend/services/gateway-integration/index.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/retry-strategy.ts
  src/backend/services/gateway-integration/retry-strategy.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/adapters/adyen.adapter.ts
  src/backend/services/gateway-integration/adapters/adyen.adapter.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/adapters/fiserv.adapter.ts
  src/backend/services/gateway-integration/adapters/fiserv.adapter.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/adapters/index.ts
  src/backend/services/gateway-integration/adapters/index.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/adapters/stripe.adapter.ts
  src/backend/services/gateway-integration/adapters/stripe.adapter.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/webhook/adyen-webhook.handler.ts
  src/backend/services/gateway-integration/webhook/adyen-webhook.handler.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/webhook/index.ts
  src/backend/services/gateway-integration/webhook/index.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/webhook/stripe-webhook.handler.ts
  src/backend/services/gateway-integration/webhook/stripe-webhook.handler.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/gateway-integration/webhook/webhook-router.ts
  src/backend/services/gateway-integration/webhook/webhook-router.ts
Owners: @payments-team, @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/index.ts
  src/backend/services/notification-service/index.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/notification.service.ts
  src/backend/services/notification-service/notification.service.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/preference-manager.ts
  src/backend/services/notification-service/preference-manager.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/template-renderer.ts
  src/backend/services/notification-service/template-renderer.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/channels/email.channel.ts
  src/backend/services/notification-service/channels/email.channel.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/channels/in-app.channel.ts
  src/backend/services/notification-service/channels/in-app.channel.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/channels/index.ts
  src/backend/services/notification-service/channels/index.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/channels/sms.channel.ts
  src/backend/services/notification-service/channels/sms.channel.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/templates/approval-reminder.template.ts
  src/backend/services/notification-service/templates/approval-reminder.template.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/templates/approval-requested.template.ts
  src/backend/services/notification-service/templates/approval-requested.template.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/templates/index.ts
  src/backend/services/notification-service/templates/index.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/templates/refund-completed.template.ts
  src/backend/services/notification-service/templates/refund-completed.template.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/notification-service/templates/refund-created.template.ts
  src/backend/services/notification-service/templates/refund-created.template.ts
Owners: @notifications-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/cache-manager.ts
  src/backend/services/parameter-resolution/cache-manager.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/index.ts
  src/backend/services/parameter-resolution/index.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/inheritance-resolver.ts
  src/backend/services/parameter-resolution/inheritance-resolver.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/parameter-resolution.service.ts
  src/backend/services/parameter-resolution/parameter-resolution.service.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/models/index.ts
  src/backend/services/parameter-resolution/models/index.ts
Owners: @configuration-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/services/parameter-resolution/models/parameter-definition.model.ts
  src/backend/services/parameter-resolution/models/parameter-definition.model.ts
Owners: @configuration-team, @refund-core-team

.github/CODEOWNERS:

# Automatically assigns reviewers to pull requests based on files being changed
# Format: file-pattern @user-or-team

# Default ownership for all files in the repository
* @platform-team

# Core Services
# =============

# Core Refund Request Manager service ownership
src/backend/services/refund-request-manager/** @refund-core-team @payments-team

# Payment Method Handler service ownership
src/backend/services/payment-method-handler/** @payments-team

# Approval Workflow Engine service ownership
src/backend/services/approval-workflow-engine/** @workflow-team @refund-core-team

# Compliance Engine service ownership
src/backend/services/compliance-engine/** @compliance-team @security-team

# Gateway Integration service ownership
src/backend/services/gateway-integration/** @payments-team @integrations-team

# Parameter Resolution service ownership
src/backend/services/parameter-resolution/** @configuration-team @refund-core-team

# Bank Account Manager service ownership - requires security team review due to sensitive data
src/backend/services/bank-account-manager/** @payments-team @security-team

# Notification Service ownership
src/backend/services/notification-service/** @notifications-team

# Reporting & Analytics Engine ownership
src/backend/services/reporting-analytics/** @data-team @analytics-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure & Configuration
# =============================

# Infrastructure code ownership
infrastructure/** @devops-team @security-team

# GitHub configuration ownership
.github/** @devops-team @platform-team

# Configuration files ownership
src/backend/config/** @platform-team @security-team

# Common & Shared Components
# =========================

# Common utilities and shared code ownership
src/backend/common/** @platform-team @architecture-team

# External service integrations ownership
src/backend/integrations/** @integrations-team

# Database models and repositories ownership
src/backend/database/** @data-team @refund-core-team

# Testing & Security
# =================

# Test files ownership
**.test.ts @quality-team

# Security-related code ownership
src/backend/**/security/** @security-team
