Repository asharkov-briklabs/refunds-wyx7mz, changes with the owners that .github/CODEOWNERS names for each.
All owners: @platform-team, @refund-core-team, @payments-team, @workflow-team, @compliance-team, @security-team, @integrations-team, @configuration-team, @notifications-team, @data-team, @analytics-team, @frontend-team, @devops-team, @architecture-team, @quality-team

.github/CODEOWNERS:

# Automatically assigns reviewers to pull requests based on files being changed
# Format: file-pattern @user-or-team

# Default ownership for all files in the repository
* @platform-team

# Core Services
# =============

# Core Refund Request Manager service ownership
src/backend/services/refund-request-manager/** @refund-core-team @payments-team

# Payment Method Handler service ownership
src/backend/services/payment-method-handler/** @payments-team

# Approval Workflow Engine service ownership
src/backend/services/approval-workflow-engine/** @workflow-team @refund-core-team

# Compliance Engine service ownership
src/backend/services/compliance-engine/** @compliance-team @security-team

# Gateway Integration service ownership
src/backend/services/gateway-integration/** @payments-team @integrations-team

# Parameter Resolution service ownership
src/backend/services/parameter-resolution/** @configuration-team @refund-core-team

# Bank Account Manager service ownership - requires security team review due to sensitive data
src/backend/services/bank-account-manager/** @payments-team @security-team

# Notification Service ownership
src/backend/services/notification-service/** @notifications-team

# Reporting & Analytics Engine ownership
src/backend/services/reporting-analytics/** @data-team @analytics-team

# Frontend code ownership
src/web/** @frontend-team

# Infrastructure & Configuration
# =============================

# Infrastructure code ownership
infrastructure/** @devops-team @security-team

# GitHub configuration ownership
.github/** @devops-team @platform-team

# Configuration files ownership
src/backend/config/** @platform-team @security-team

# Common & Shared Components
# =========================

# Common utilities and shared code ownership
src/backend/common/** @platform-team @architecture-team

# External service integrations ownership
src/backend/integrations/** @integrations-team

# Database models and repositories ownership
src/backend/database/** @data-team @refund-core-team

# Testing & Security
# =================

# Test files ownership
**.test.ts @quality-team

# Security-related code ownership
src/backend/**/security/** @security-team

Add public-samples/refunds-wyx7mz/src/backend/common/utils/logger.ts
  src/backend/common/utils/logger.ts
Owners: @platform-team, @architecture-team

Add public-samples/refunds-wyx7mz/src/backend/common/utils/metrics.ts
  src/backend/common/utils/metrics.ts
Owners: @platform-team, @architecture-team

Add public-samples/refunds-wyx7mz/src/backend/common/utils/validation-utils.ts
  src/backend/common/utils/validation-utils.ts
Owners: @platform-team, @architecture-team

Add public-samples/refunds-wyx7mz/src/backend/config/auth.ts
  src/backend/config/auth.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/database.ts
  src/backend/config/database.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/index.ts
  src/backend/config/index.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/logging.ts
  src/backend/config/logging.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/redis.ts
  src/backend/config/redis.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/services.ts
  src/backend/config/services.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/sqs.ts
  src/backend/config/sqs.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/environments/development.ts
  src/backend/config/environments/development.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/environments/production.ts
  src/backend/config/environments/production.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/environments/staging.ts
  src/backend/config/environments/staging.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/config/environments/test.ts
  src/backend/config/environments/test.ts
Owners: @platform-team, @security-team

Add public-samples/refunds-wyx7mz/src/backend/database/connection.ts
  src/backend/database/connection.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/index.ts
  src/backend/database/index.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/migrations/index.ts
  src/backend/database/migrations/index.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/migrations/scripts/20230501_initial.ts
  src/backend/database/migrations/scripts/20230501_initial.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/migrations/scripts/20230515_add_refund_indices.ts
  src/backend/database/migrations/scripts/20230515_add_refund_indices.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/approval-request.model.ts
  src/backend/database/models/approval-request.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/audit-log.model.ts
  src/backend/database/models/audit-log.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/bank-account.model.ts
  src/backend/database/models/bank-account.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/compliance-rule.model.ts
  src/backend/database/models/compliance-rule.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/index.ts
  src/backend/database/models/index.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/notification.model.ts
  src/backend/database/models/notification.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/parameter.model.ts
  src/backend/database/models/parameter.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/refund-request.model.ts
  src/backend/database/models/refund-request.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/models/refund.model.ts
  src/backend/database/models/refund.model.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/approval-request.repo.ts
  src/backend/database/repositories/approval-request.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/audit-log.repo.ts
  src/backend/database/repositories/audit-log.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/bank-account.repo.ts
  src/backend/database/repositories/bank-account.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/compliance-rule.repo.ts
  src/backend/database/repositories/compliance-rule.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/index.ts
  src/backend/database/repositories/index.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/notification.repo.ts
  src/backend/database/repositories/notification.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/parameter.repo.ts
  src/backend/database/repositories/parameter.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/refund-request.repo.ts
  src/backend/database/repositories/refund-request.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/database/repositories/refund.repo.ts
  src/backend/database/repositories/refund.repo.ts
Owners: @data-team, @refund-core-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/index.ts
  src/backend/integrations/index.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/auth-service/client.ts
  src/backend/integrations/auth-service/client.ts
Owners: @integrations-team

Add public-samples/refunds-wyx7mz/src/backend/integrations/auth-service/index.ts
  src/backend/integrations/auth-service/index.ts
Owners: @integrations-team
